---
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from './BaseLayout.astro';
import NotePagination from '../components/NotePagination.astro';

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    date: Date;
  };
  prev?: CollectionEntry<'note'>;
  next?: CollectionEntry<'note'>;
}

const { frontmatter, prev, next } = Astro.props;
const image = undefined;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} image={image}>
  <Header />
  <div class="flex h-full w-full max-w-screen flex-col items-center overflow-x-hidden">
    <article
      class="h-full w-full max-w-xl p-5 text-base text-gray-200
      [&_:not(pre)>code]:rounded-sm [&_:not(pre)>code]:bg-zinc-800 [&_:not(pre)>code]:px-1 [&_:not(pre)>code]:text-main
      [&_a]:text-main [&_a]:underline [&_a]:decoration-from-font [&_a]:hover:no-underline
      [&_pre]:my-3 [&_pre]:rounded-sm [&_pre]:bg-gray-800 [&_pre]:p-2
      [&_td]:border [&_td]:border-slate-600 [&_td]:px-4 [&_td]:py-1.5
      [&_th]:border [&_th]:border-slate-600 [&_th]:bg-slate-800 [&_th]:px-4 [&_th]:py-1.5
      [&>h1]:mt-6 [&>h1]:mb-1 [&>h1]:w-full [&>h1]:text-3xl [&>h1]:font-bold [&>h1]:text-white lg:[&>h1]:text-4xl
      [&>h2]:mt-6 [&>h2]:mb-1 [&>h2]:w-full [&>h2]:text-xl [&>h2]:font-bold [&>h2]:text-main lg:[&>h2]:text-2xl
      [&>h3]:mt-6 [&>h3]:mb-1 [&>h3]:w-full [&>h3]:text-lg [&>h3]:font-bold [&>h3]:text-white lg:[&>h3]:text-xl
      [&>hr]:my-5 [&>hr]:border-slate-600
      [&>ol]:my-3 [&>ol]:list-inside [&>ol]:list-decimal [&>ol]:marker:text-slate-400
      [&>p]:leading-7 [&>p>img]:my-5
      [&>table]:my-3 [&>table]:table-auto [&>table]:border [&>table]:border-slate-600
      [&>ul]:my-3 [&>ul]:list-inside [&>ul]:list-disc [&>ul]:marker:text-slate-400"
    >
      <NotePagination prev={prev} next={next} />
      <hr />
      <h1>{frontmatter.title}</h1>
      <p class="text-slate-500">
        {frontmatter.date.toLocaleDateString('ja-JP', { dateStyle: 'medium' })}
      </p>
      <slot />
      <hr />
      <NotePagination prev={prev} next={next} />
    </article>
  </div>
  <Footer />
</BaseLayout>
